  <ul class="collection with-header">
  <li class="collection-header center-align">
  <a class="modal-trigger"  href="<%= root_path %>"> <%= user_avatar %> </a>
  <h6><%= saudacao() %></h6></li>
  <li>
  <a href="<%= root_path %>" class=" collection-item"><i class="tiny material-icons left">home</i> Principal</a>
  <a href="<%= descontos_path %>" class="teal-text collection-item"><i class="tiny material-icons left">local_offer</i> Criar Descontos</a>
  <a href="<%= petshops_path %>" class="teal-text collection-item"><i class="tiny material-icons left">favorite</i>Rede Credenciadas</a>
  <a href="<%= animals_path %>" class="teal-text collection-item"><i class="tiny material-icons left">pets</i> Meu Pets</a>
  <a href="<%= agendamentos_path %>" class="teal-text collection-item"><i class="tiny material-icons left">date_range</i> Agendamentos</a>

  </ul>
