<ul class="collection with-header">
  <li class="collection-header center-align">
    <a class="modal-trigger" href="<%= root_path %>"> <img class="responsive circle align-center" src="https://picsum.photos/150?image=1062"></a>
      <h5><%= saudacao() %></h5></li>
   <li>

     <a href="<%= edit_user_registration_path %>" class=" collection-item"><i class="tiny material-icons left">home</i>Principal</a>
     <a href="<%= descontos_path %>" class="teal-text collection-item"><i class="tiny material-icons left">local_offer</i> Meus Descontos</a>
     <a href="<%= petshops_path %>" class="teal-text collection-item"><i class="tiny material-icons left">favorite</i>Rede Credenciadas</a>
     <a href="<%= animals_path %>" class="teal-text collection-item"><i class="tiny material-icons left">pets</i> Meu Pets</a>
     <a href="<%= agendamentos_path %>" class="teal-text collection-item"><i class="tiny material-icons left">perm_contact_calendar</i> Agendamentos</a>
     <a href="#" class="teal-text collection-item"><i class="tiny material-icons left">credit_card</i> Assinatura</a>
     <a href="<%= edit_user_registration_path %>" class=" collection-item"><i class="tiny material-icons left">account_box</i> Minha Conta</a>

</ul>
