<%= form_with(model: petshop, local: true) do |form| %>
  <% if petshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(petshop.errors.count, "error") %> não foi possível de ser salvo:</h2>

      <ul>
      <% petshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="file-field input-field">
      <div class="btn blue">
        <span>Logo</span>
        <%= form.file_field :logo, autofocus: true, autocomplete: "logo", class:"validate" %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>




  <div class="input-field">
    <%= form.text_field :title %>
    <%= form.label 'Titulo' %>
  </div>

  <div class="input-field">
    <%= form.text_field :address %>
    <%= form.label :address %>
  </div>

  <div class="input-field">
    <%= form.text_field :phone, class: 'phone_with_ddd' %>
    <%= form.label :phone %>
  </div>

  <div class="input-field">

    <%= form.number_field :cep %>
    <%= form.label :cep %>
  </div>

  <div class="input-field">
    <%= form.text_field :estado %>
    <%= form.label :estado %>
  </div>

  <div class="input-field">
    <%= form.text_field :cidade %>
    <%= form.label :cidade %>
  </div>

  <div class="input-field">
    <%= form.text_field :descricao %>
    <%= form.label :descricao %>
  </div>


  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn green" %>
  </div>
<% end %>
