<%= form_with(model: petshop, local: true) do |form| %>
  <% if petshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(petshop.errors.count, "error") %> prohibited this petshop from being saved:</h2>

      <ul>
      <% petshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :cep %>
    <%= form.number_field :cep %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
