<%= title('Lista Petshop') %>


<div class="section"></div>
<% if flash[:notice] %>
<div id="notice" class="notify notify--success" role="alert">
  <strong><%= notice %></strong>
</div>
<% end %>
<!-- left col  -->

<div class="col s12 m3">
<%=  select_menu()  %>
</div>


  <div class="col s12 m9">
    <%= link_to '<i class="material-icons">add</i> Adicionar'.html_safe, new_petshop_path,
    class: "right btn btn-small waves-effect waves-light green"  %>

<%= render "shered/search" %>
<div class="section"></div>
    <ul class="collection">
    <% @petshops.each do |p| %>
      <li class="collection-item">

        <h4 class="title"><%= p.title %></h4>
        <h4 class="right red-text"><i class=" material-icons">local_offer</i></h4>
        <div class="row valign-wrapper">
          <div class="col s6">
            <%= image_tag ('https://picsum.photos/100/100/?image=57'),
              class: "left circle responsive-img" %>
          </div>

          <span class="right">

      <b>Adicionado em: </b><%= p.created_at.strftime("%a %d-%m-%Y") %>
    <p>     <%= truncate( p.descricao, length:180 ) %></p>
      <a class="btn waves-effect waves-light  blue " href="<%= root_url %>petshops/<%= p.id %>"><i class="material-icons left">launch</i> Acessar </a>
          </span>
        </div>

      </li>

      <% end %>



    </ul>

  </div>
