<%= title(@petshop.title) %>
<div class="section"></div>

<!-- left col  -->

<div class="col s12 m3">
<%=  select_menu()  %>
</div>

<!-- col right -->

<div class="col s12 m9">

    <div class="row">
      <% if can? :update, @petshop %>
      <%= link_to '<i class="material-icons">edit</i> Editar'.html_safe, edit_petshop_path(current_user.petshop),
      class: 'btn waves-effect waves-blue right' %>

      <% end %>
    </div>


    <% if flash[:notice] %>
    <div id="notice" class="notify notify--success" role="alert">
      <strong><%= notice %></strong>
    </div>
    <% end %>

  <%= render "petshops/module/show" %>
</div>
