
    <ul class="collection">
    <% @petshops.each do |p| %>

      <li class="collection-item">



        <h4 class="title"><%= p.title %></h4>
        <h4 class="right red-text"><i class=" material-icons">local_offer</i><%= Faker::Number.between(10,70) %></h4>
        <div class="row valign-wrapper">
          <div class="col s6">

            <%=


image_tag ('https://picsum.photos/300/300/?random'),
              class: "left circle responsive-img" %>
          </div>

          <span class="right">
          <%= truncate( p.descricao, length:180 ) %>
    <p></p>
      <a class="btn waves-effect waves-light  blue " href="<%= root_url %>petshops/<%= p.id %>"><i class="material-icons left">launch</i> Acessar </a>
          </span>
        </div>

      </li>
      <% end %>
