 
<table class="striped">
  <thead>
    <tr>
      <th data-field="titulo"> Sua petshop</th>

    </tr>
  </thead>

  <tbody>

    <tr>
      <td> <b>Titulo de sua Loja:</b></td>
      <td><%= @store.title %></td>
    </tr>
    <tr>
      <td> <b>Endereço:</b></td>
      <td><%= @store.address %>  </td>
      </tr>
    <tr>
      <td>
        <b> CEP:</b>
      </td>
        <td> <%= @store.cep %> </td>
    </tr>
    <tr>
      <td> <b>Estado:</b></td>
      <td><%= @store.estado %></td>
    </tr>
    <tr>
      <td> <b>Cidade:</b></td>
      <td><%= @store.cidade %></td>
    </tr>
    <tr>
      <td> <b>Telefone:</b></td>
      <td><%= @store.phone %></td>
    </tr>
  </tbody>
</table>

<div class="col s6 m6 l6">

<%= link_to "<i class='material-icons left'>create</i> Editar".html_safe, edit_petshop_path(@store.id), class: "btn weves-effect waves-light blue lighten-2" %>
</div>
