
<table class="striped">
  <thead>
    <tr>
      <th data-field="titulo"> Sua petshop</th>

<% if @store.cidade.blank? %>
<span class="red-text">Por favor, preencha o campo: <b>CIDADE</b>.</span>
<% end %>
    </tr>
  </thead>

  <tbody>


<tr>

 <td rowspan="5" ><%  if @store.logo.attached? %>

                <%=  image_tag(@store.logo, size:"280x180", class: "responsive") %>
                       <%=  link_to('Deletar', destroy_logo_path) %>
                  <%  else %>
                      Ainda sem imagem
                    <%  end %></td>


</tr>

    <tr>
      <td> <b>Titulo de sua Loja:</b></td>
      <td><%= @store.title %></td>
    </tr>
    <tr>
      <td> <b>Endereço:</b></td>
      <td><%= @store.address %>  </td>
      </tr>
    <tr>
      <td>
        <b> CEP:</b>
      </td>
        <td> <%= @store.cep %> </td>
    </tr>
    <tr>
      <td> <b>Estado:</b></td>
      <td><%= @store.estado %></td>
    </tr>
    <tr>
      <td> <b>Cidade:</b></td>
      <td><%= @store.cidade %></td>
    </tr>
    <tr>
      <td> <b>Telefone:</b></td>
      <td><%= @store.phone %></td>
    </tr>
  </tbody>
</table>
<p></p>
<div class="col s6 m6 l6">

<%= link_to "<i class='material-icons left'>create</i> Editar".html_safe, edit_petshop_path(@store.id), class: "btn weves-effect waves-light blue lighten-2" %>
</div>
