<%= title(" #{current_user.name} #{current_user.last_name} Dashboard"  ) %>
<div class="section"></div>

<!-- left col  -->

  <div class="col s12 m3">


  <%=  select_menu()  %>
  <!-- Element Showed -->




  </div> <!-- end left col -->

<!-- col right -->


  <div class="col s12 m9">
<h3>Olá <%= current_user.name %></h3>
     <%= render "shered/dashboard" %>

  </div>
<div class="section"></div>

<div class="col s12 m9">
<h4>Destaque</h4>
  <%= render "pages/module/liststore" %>
</div>





<!-- end col right  -->
