<!DOCTYPE html>
<html>
<head>
  <title>Cartão Mais Pet - Quem Ama Cuida!</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= stylesheet_link_tag    "application", :media => "all" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <%= render 'layouts/parts/menu' %>


  <div class="container">
    <div class="row">
      <%= yield %>
    </div>

  </div>
  <%= render 'layouts/parts/footer' %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- Compiled and minified JavaScript -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js'></script>
  </head>
</body>
</html>
