<!DOCTYPE html>
<html>
<head>
  <title> <%= company_name + yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= stylesheet_link_tag    "application", :media => "all" %>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <%= render 'layouts/parts/menu' %>
<div class="section"></div>

  <div class="container">

<% if flash[:notice] %>
      <div class="card-panel green panel lighten-2">
      <h3>  <%= notice %></h3>
      </div>
<% end %>
<% if flash[:alert] %>
      <div class="card-panel red panel lighten-2">
      <h3>  <%= alert %></h3>
      </div>
<% end %>
      <%= yield %>
    </div>

  </div>

  <div class="section"></div>
  <%= render 'layouts/parts/footer' %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
</body>
</html>
