<!DOCTYPE html>
<html>
<head>
  <title> <%= company_name + yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= stylesheet_link_tag    "application", :media => "all" %>
<!-- Compiled and minified JavaScript -->

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

  <%= render 'layouts/parts/menu' %>
<div class="section"></div>

  <div class="container">

<% if flash[:notice] %>
<div id="notice" class="notify notify--success" role="alert">
  <strong><%= notice %></strong>
</div>
<% end %>
<% if flash[:alert] %>
<div id="alert" class="notify notify--danger" role="alert">
  <strong><%= alert %></strong>
</div>

<% end %>
<div class="row">
      <%= yield %>
    </div>

  </div>

  <div class="section"></div>
  <%= render 'layouts/parts/footer' %>


  </head>
</body>
</html>
